*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, auto );
  border: 2px solid black;
}

.square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 30px;
}

.status{
  margin-bottom: 10px;
  color: black;
  font-weight: 600;
  font-size: 20px;
}


